:root {
    
    --cor-primaria: rgb(34, 139, 34);      
    --cor-secundaria: rgb(70, 130, 180);    
    --cor-fundo: rgba(255, 255, 255, 0.9);  

body {
    background-color: var(--cor-fundo); /* Usando a variável */
    color: var(--cor-primaria);
}

h1 {
    color: var(--cor-secundaria);
}

p {
    color: var(--cor-primaria);
}


.body{
    width : 1368px;
    height: 720px;
    color: #EOE4CE;
}

.header{

}